*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 70%;
    margin: auto;
}

h1{
    color: blue; 
    display: inline-block; /* uso questo inline block per dare all'h1 lo spazio che occupa solo la scritta e non tutta la riga che occuperebbe naturalmente */  
}

h1:hover{
    color: red;
    cursor: pointer;
}

.green-square{
    background-color: green;
    margin: 20 px 0;
    height: 300px;
    text-align: center;
    padding: 30px;
}

/* esempio hover sull'antenato che cambia il discendente */
.green-square:hover h2{
    color: blue;
    cursor: pointer;
}